@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cousine", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 shadow-sm shadow-black backdrop-blur-sm dark:bg-dark dark:bg-opacity-50 dark:shadow-sm dark:shadow-slate-800;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.navbar-bottom {
  @apply fixed z-[9999] backdrop-blur-sm dark:shadow-sm dark:shadow-slate-100;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-5;
}

section {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

section.hide {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

a.block {
  transition: transform 0.3s ease;
}

a.block:hover {
  transform: scale(1.1);
}